//BUTTONS MIXIN
//responsive mixins for futher button calculation
@mixin _xxs {
    @media screen and (max-width: 479px) {
        @content;
    }
}

@mixin _xs {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}

@mixin _sm {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin _md {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin _lg {
    @media screen and (min-width: 1199px) {
        @content;
    }
}

//When using $weight variable see fonts.scss file for correct font-family name
@mixin button($size: medium, $revers: false, $upper: false, $weight: false, $icon: false, $responsive: false) {

    //Defualt current values (medium)
    $current-ptb: 10px;
    $current-plr: 20px;
    $current-fs: 14px;
    $basic-color: #66bca5;

    $small-ptb: 7px;
    $small-plr: 24px;
    $small-fs: 13px;

    $medium-ptb: 10px;
    $medium-plr: 20px;
    $medium-fs: 14px;

    $big-ptb: 13px;
    $big-plr: 25px;
    $big-fs: 14px;

    $extra-ptb: 16px;
    $extra-plr: 64px;
    $extra-fs: 16px;

    $prefix: "Muli";

    border: 1px solid $basic-color;
    background-color: $basic-color;
    border-radius: 27px;

    &:hover {
        @if $revers==false {
            background-color: white;
            border: 1px solid $basic-color;
            >span {
                color: #66bca5;
            }
        }
        @if $revers {
            background-color: $basic-color;
            border: 1px solid $basic-color;
            >span {
                color: white;
            }
        }
    }

    >span {
        padding: 0;
        margin: 0;
        white-space: normal;
        word-break: normal;
        text-align: center;
        font-size: 14px;
        font-family: "Arial", Helvetica, sans-serif;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0;
        color: white;
    }

    @if $size==small {
        $current-ptb: $small-ptb;
        $current-plr: $small-plr;
        $current-fs: $small-fs;

        padding: $small-ptb $small-plr;
        >span {
            font-size: $small-fs;
        }
    }
    @if $size==medium {
        $current-ptb: $medium-ptb;
        $current-plr: $medium-plr;
        $current-fs: $medium-fs;

        padding: $medium-ptb $medium-plr;
        >span {
            font-size: $medium-fs;
        }
    }
    @if $size==big {
        $current-ptb: $big-ptb;
        $current-plr: $big-plr;
        $current-fs: $big-fs;

        padding: $big-ptb $big-plr;
        >span {
            font-size: $big-fs;
        }
    }
    @if $size==extra {
        $current-ptb: $extra-ptb;
        $current-plr: $extra-plr;
        $current-fs: $extra-fs;

        padding: $extra-ptb $extra-plr;
        >span {
            font-size: $extra-fs;
        }
    }
    @if $revers==revers {
        border: 1px solid $basic-color;
        background-color: white;
        >span {
            color: $basic-color;
        }
    }
    @if $upper==upper {
        >span {
            text-transform: uppercase;
        }
    }
    @if $weight {
        >span {
            font-family: #{$prefix}$weight;
        }
    }
    @if $icon {
        >span {
            &:before {
                content: $icon;
                display: inline-block;
            }
        }
    }
    @if $responsive {
        @include _xxs {
            padding: calc(#{$current-ptb} / 1.6) calc(#{$current-plr} * 1.1);
            >span {
                font-size: calc(#{$extra-fs} / 1.3);
            }
        }
        @include _xs {
            padding: calc(#{$current-ptb} / 1.4) calc(#{$current-plr} * 1.1);
            >span {
                font-size: calc(#{$current-fs} / 1.2);
            }
        }
        @include _sm {
            padding: calc(#{$current-ptb} / 1.3) calc(#{$current-plr} * 1.1);
            >span {
                font-size: calc(#{$current-fs} / 1.2);
            }
        }
        @include _md {}
        @include _lg {
            padding: $current-ptb $current-plr;
            >span {
                font-size: $current-fs;
            }
        }
    }
}