html {
    body {
        background-color: #dddddd;

        #page-container {
            #content-section {
                #content-container {
                    #center-column {
                        .page-header {
                            display: none;
                        }

                        #alerts {
                            padding: 1%;
                        }

                        .flex-center-column {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            #login {
                                padding: 9% 0;
                                display: block;
                                margin: 0;
                                max-width: 375px;

                                .login-lock {
                                    font-size: 65px;
                                    text-align: center;
                                    display: block;
                                    margin: 30px;
                                }

                                .login-plain-faq {
                                    margin: 0 0 20px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}