html body {
  background-color: #dddddd; }
  html body #page-container #content-section #content-container #center-column .page-header {
    display: none; }
  html body #page-container #content-section #content-container #center-column #alerts {
    padding: 1%; }
  html body #page-container #content-section #content-container #center-column .flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center; }
    html body #page-container #content-section #content-container #center-column .flex-center-column #login {
      padding: 9% 0;
      display: block;
      margin: 0;
      max-width: 375px; }
      html body #page-container #content-section #content-container #center-column .flex-center-column #login .login-lock {
        font-size: 65px;
        text-align: center;
        display: block;
        margin: 30px; }
      html body #page-container #content-section #content-container #center-column .flex-center-column #login .login-plain-faq {
        margin: 0 0 20px 0; }
