html {
    body {
        background-color: white;

        #admin-navbar {
            border-radius: 0;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }

    }
}