@import "variables";
@import "mixins";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
        url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"),
        url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"),
        url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
        url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

html,
body,
#page-container {
    height: auto;
    min-height: 100%;
}

html {
    body {
        background-color: #f8f8f8;

        .datepicker {
            padding: 5px 5px;

            table tr td.active.active {
                background-color: #337ab7;
                border-color: #337ab7;

                &:hover {
                    background-color: #286090;
                    border-color: #204d74;
                }
            }
        }


        #page-container {

            #alerts {}

            #header-section {
                .navbar-header {
                    .navbar-brand {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        -ms-text-justify: center;
                        padding: 0 15px;

                        .admin-icon {
                            top: 0;
                            margin: 0 4px 0 0;
                            font-size: 22px;
                        }
                    }
                }

                #admin-navbar {
                    border-radius: 0;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    background-color: #ffffff;

                    .navbar-form {
                        .btn-group {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            -ms-text-justify: flex-start;

                            input {
                                flex: none;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }

                            button {
                                float: none;
                                height: 34px;
                            }
                        }
                    }

                    .admin-navbar-dropdown {
                        &>li.dropdown {
                            &>a {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                -ms-text-justify: flex-start;

                                &>.glyphicon {
                                    margin-right: 5px;
                                    top: 0;
                                    line-height: unset;
                                }
                            }

                            &>.dropdown-menu {
                                li.logout-li {
                                    &>a {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        -ms-text-justify: center;

                                        &>.glyphicon {
                                            top: 0;
                                            line-height: unset;
                                            margin-right: 5px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }

                    }

                }
            }

            #content-section {
                #content-container {
                    #top {
                        #breadcrumb {
                            .breadcrumb {
                                background-color: #ffffff;
                            }
                        }
                    }

                    #content-row {
                        #center-column {
                            .panel {
                                &.collapsed {

                                    .panel-body,
                                    .panel-footer {
                                        display: none;
                                    }
                                }

                                &.form-panel {

                                    .form-panel-save {}

                                    .panel-heading {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        .table-name {}

                                        .window-buttons {
                                            button {
                                                &:last-child {
                                                    margin-left: 5px;
                                                }

                                                font-size: 9px;
                                                padding: 2px 4px;
                                            }
                                        }
                                    }

                                    .panel-body {
                                        .admin-form {
                                            table {
                                                td {}

                                                thead {
                                                    th {
                                                        a {
                                                            color: black;

                                                            .sort {
                                                                display: inline-block;
                                                                margin-left: 4px;
                                                                cursor: pointer;

                                                                &.asc {
                                                                    .caret-asc {
                                                                        border-top-color: darkgrey;
                                                                    }

                                                                    .caret-desc {
                                                                        border-top-color: black;
                                                                    }
                                                                }

                                                                &.desc {
                                                                    .caret-asc {
                                                                        border-top-color: black;
                                                                    }

                                                                    .caret-desc {
                                                                        border-top-color: darkgrey;
                                                                    }
                                                                }

                                                                .caret {
                                                                    margin: 0;
                                                                    display: block;

                                                                    &.caret-asc {
                                                                        transform: rotate(180deg);
                                                                        margin-bottom: 2px;
                                                                    }

                                                                    &.caret-desc {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                tbody {
                                                    tr {
                                                        &:hover {
                                                            background-color: #f2f2f2;
                                                        }

                                                        &.selected-row {
                                                            background-color: #f2f2f2;
                                                        }

                                                        cursor: pointer;

                                                        td {
                                                            .checkbox {
                                                                padding-top: 0px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .form-group {
                                                background-color: #f8f8f8;
                                                border-radius: 4px;
                                                margin: 1% 5%;

                                                display: flex;
                                                justify-content: center;
                                                align-items: stretch;

                                                .admin-form-left {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    padding: 10px 0;
                                                    background-color: #f2f2f2;
                                                    border-top-left-radius: 4px;
                                                    padding: 15px 30px;
                                                    border-bottom-left-radius: 4px;
                                                    flex-direction: column;

                                                    label {
                                                        padding: 0;
                                                    }

                                                    .update-info,
                                                    .required-field {
                                                        font-size: 10px;
                                                        margin: 5px 0;
                                                        font-style: italic;
                                                        color: darkgrey;
                                                    }
                                                }

                                                .admin-form-right {
                                                    padding: 15px 30px;
                                                    display: flex;
                                                    justify-content: start;
                                                    align-items: start;
                                                    flex-direction: column;

                                                    .btn-switch {
                                                        &.switch-on {
                                                            .btn-switch-on {
                                                                color: #fff;
                                                                background-color: #5cb85c;
                                                                border-color: #4cae4c;
                                                            }

                                                            .btn-switch-off {
                                                                color: #333;
                                                                background-color: #fff;
                                                                border-color: #ccc;

                                                                &:hover {
                                                                    color: #333;
                                                                    background-color: #e6e6e6;
                                                                    border-color: #adadad;
                                                                }
                                                            }
                                                        }

                                                        &.switch-off {
                                                            .btn-switch-on {
                                                                color: #333;
                                                                background-color: #fff;
                                                                border-color: #ccc;

                                                                &:hover {
                                                                    color: #333;
                                                                    background-color: #e6e6e6;
                                                                    border-color: #adadad;
                                                                }
                                                            }

                                                            .btn-switch-off {
                                                                color: #fff;
                                                                background-color: #d9534f;
                                                                border-color: #d43f3a;
                                                            }
                                                        }
                                                    }

                                                    .form-control,
                                                    .btn {
                                                        margin-bottom: 5px;
                                                    }

                                                    .form-control {
                                                        &.validation_success {
                                                            border-color: green;
                                                        }

                                                        &.validation_failed {
                                                            border-color: red;
                                                        }
                                                    }

                                                    .input-group {
                                                        margin-bottom: 5px;

                                                        .input-group-addon {
                                                            cursor: pointer;
                                                        }

                                                        &>input {
                                                            margin: 0px !important;
                                                        }
                                                    }

                                                    .alert {
                                                        padding: 4px 8px;
                                                        font-size: 12px;
                                                        margin-bottom: 4px;

                                                        .glyphicon {
                                                            margin-right: 5px;
                                                        }
                                                    }

                                                    textarea {
                                                        min-height: 150px;
                                                    }

                                                    .cke {
                                                        border-radius: 4px;
                                                        padding: 2px 0;
                                                    }
                                                }

                                            }
                                        }
                                    }

                                    .panel-footer {
                                        button {
                                            margin-left: 5px;

                                            .glyphicon {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }

                            #alerts {
                                .alert {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;

                                    .glyphicon {
                                        font-size: 24px;
                                        flex: 1;
                                        order: 1;
                                    }

                                    .alert-content {
                                        flex: 28;
                                        order: 2;

                                        .alert-timestamp {
                                            margin-bottom: 5px;
                                            font-size: 10px;
                                            font-style: italic;
                                        }

                                        .alert-header {
                                            margin-bottom: 10px;
                                            margin-top: 0;
                                        }

                                        .alert-body {
                                            margin-bottom: 8px;
                                        }

                                    }

                                    button.close {
                                        flex: 1;
                                        order: 3;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            #footer-section {
                background-color: #ffffff;
                border-top: 1px solid #e7e7e7;
                margin-top: 20px;
                height: 50px;
                bottom: 0;
                width: 100%;

                #footer {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;

                    p.footer-info {
                        text-align: center;
                        color: #777777;
                        margin: 0;
                    }
                }
            }
        }
    }
}