@media screen and (min-width: 768px) {
    #navigation {
        &>li {
            .dropdown-menu {
                margin-top: -1px;
            }

            &.parent {
                .caret {
                    margin-left: 5px;
                }
            }

            &>a {
                padding-right: 20px;
                padding-left : 20px;
            }

            .subcategory-nav {
                &>li {
                    a {
                        display        : flex;
                        justify-content: flex-start;
                        align-items    : center;

                        .category-name {
                            flex: 4;
                        }

                        .caret {
                            transform: rotate(-90deg);
                        }

                    }

                    .subcategory-nav {
                        left: 98%;
                        top : 0;
                    }
                }
            }
        }

        li:hover {
            &>ul {
                display: block;
                left   : 0;
            }
        }
    }
}