#navigation .panel .panel-body .nav li a {
  display: flex;
  justify-content: flex-start;
  -ms-text-justify: flex-start;
  align-items: center; }
  #navigation .panel .panel-body .nav li a span.glyphicon {
    line-height: unset;
    top: 0;
    flex: 1; }
  #navigation .panel .panel-body .nav li a .category-name {
    flex: 8; }
    #navigation .panel .panel-body .nav li a .category-name .badge {
      margin-left: 5px;
      background-color: #286090; }
  #navigation .panel .panel-body .nav li a .caret-container {
    text-align: center;
    background-color: #f2f2f2;
    padding: 3px 6px; }
    #navigation .panel .panel-body .nav li a .caret-container .caret {
      margin: 0;
      color: #337ab7; }

#navigation .panel .panel-body .nav li.opened > a .caret-container > .caret {
  transform: rotate(180deg); }

#navigation .panel .panel-body .nav li.opened > .subcategory-nav {
  display: block; }

#navigation .panel .panel-body .nav li .subcategory-nav {
  display: none; }

#navigation .panel .panel-body .nav li.active a .badge {
  background-color: #ffffff;
  color: #286090; }

#navigation .panel .panel-body .nav li .nav {
  padding-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px; }
