@media screen and (min-width: 768px) {
  #navigation > li .dropdown-menu {
    margin-top: -1px; }
  #navigation > li.parent .caret {
    margin-left: 5px; }
  #navigation > li > a {
    padding-right: 20px;
    padding-left: 20px; }
  #navigation > li .subcategory-nav > li a {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #navigation > li .subcategory-nav > li a .category-name {
      flex: 4; }
    #navigation > li .subcategory-nav > li a .caret {
      transform: rotate(-90deg); }
  #navigation > li .subcategory-nav > li .subcategory-nav {
    left: 98%;
    top: 0; }
  #navigation li:hover > ul {
    display: block;
    left: 0; } }
