@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../../../../libs/bootstrap/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

html,
body,
#page-container {
  height: auto;
  min-height: 100%; }

html body {
  background-color: #f8f8f8; }
  html body div[class^="col"] {
    min-height: unset !important; }
  html body .datepicker {
    padding: 5px 5px; }
    html body .datepicker table tr td.active.active {
      background-color: #337ab7;
      border-color: #337ab7; }
      html body .datepicker table tr td.active.active:hover {
        background-color: #286090;
        border-color: #204d74; }
  html body #page-container #header-section .navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-text-justify: center;
    padding: 0 15px; }
    html body #page-container #header-section .navbar-header .navbar-brand .admin-icon {
      top: 0;
      margin: 0 4px 0 0;
      font-size: 22px; }
  html body #page-container #header-section #admin-navbar {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff; }
    html body #page-container #header-section #admin-navbar .navbar-form .btn-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      -ms-text-justify: flex-start; }
      html body #page-container #header-section #admin-navbar .navbar-form .btn-group input {
        flex: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      html body #page-container #header-section #admin-navbar .navbar-form .btn-group button {
        float: none;
        height: 34px; }
    html body #page-container #header-section #admin-navbar .admin-navbar-dropdown > li.dropdown > a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      -ms-text-justify: flex-start; }
      html body #page-container #header-section #admin-navbar .admin-navbar-dropdown > li.dropdown > a > .glyphicon {
        margin-right: 5px;
        top: 0;
        line-height: unset; }
    html body #page-container #header-section #admin-navbar .admin-navbar-dropdown > li.dropdown > .dropdown-menu li.logout-li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      -ms-text-justify: center; }
      html body #page-container #header-section #admin-navbar .admin-navbar-dropdown > li.dropdown > .dropdown-menu li.logout-li > a > .glyphicon {
        top: 0;
        line-height: unset;
        margin-right: 5px;
        font-size: 12px; }
  html body #page-container #content-section #content-container #top #breadcrumb .breadcrumb {
    background-color: #ffffff; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.collapsed .panel-body,
  html body #page-container #content-section #content-container #content-row #center-column .panel.collapsed .panel-footer {
    display: none; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-heading .window-buttons button {
      font-size: 9px;
      padding: 2px 4px; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-heading .window-buttons button:last-child {
        margin-left: 5px; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a {
    color: black; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort {
      display: inline-block;
      margin-left: 4px;
      cursor: pointer; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort.asc .caret-asc {
        border-top-color: darkgrey; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort.asc .caret-desc {
        border-top-color: black; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort.desc .caret-asc {
        border-top-color: black; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort.desc .caret-desc {
        border-top-color: darkgrey; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort .caret {
        margin: 0;
        display: block; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table thead th a .sort .caret.caret-asc {
          transform: rotate(180deg);
          margin-bottom: 2px; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table tbody tr {
    cursor: pointer; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table tbody tr:hover {
      background-color: #f2f2f2; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table tbody tr.selected-row {
      background-color: #f2f2f2; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form table tbody tr td .checkbox {
      padding-top: 0px; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group {
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: 1% 5%;
    display: flex;
    justify-content: center;
    align-items: stretch; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      background-color: #f2f2f2;
      border-top-left-radius: 4px;
      padding: 15px 30px;
      border-bottom-left-radius: 4px;
      flex-direction: column; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-left label {
        padding: 0; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-left .update-info,
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-left .required-field {
        font-size: 10px;
        margin: 5px 0;
        font-style: italic;
        color: darkgrey; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right {
      padding: 15px 30px;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn-switch.switch-on .btn-switch-on {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn-switch.switch-on .btn-switch-off {
        color: #333;
        background-color: #fff;
        border-color: #ccc; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn-switch.switch-on .btn-switch-off:hover {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn-switch.switch-off .btn-switch-on {
        color: #333;
        background-color: #fff;
        border-color: #ccc; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn-switch.switch-off .btn-switch-on:hover {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn-switch.switch-off .btn-switch-off {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .form-control,
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .btn {
        margin-bottom: 5px; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .form-control.validation_success {
        border-color: green; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .form-control.validation_failed {
        border-color: red; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .input-group {
        margin-bottom: 5px; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .input-group .input-group-addon {
          cursor: pointer; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .input-group > input {
          margin: 0px !important; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .alert {
        padding: 4px 8px;
        font-size: 12px;
        margin-bottom: 4px; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .alert .glyphicon {
          margin-right: 5px; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right textarea {
        min-height: 150px; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-body .admin-form .form-group .admin-form-right .cke {
        border-radius: 4px;
        padding: 2px 0; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-footer button {
    margin-left: 5px; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .panel-footer button .glyphicon {
      margin-right: 5px; }
  html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-left .media-object {
      height: 64px;
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-left .media-object .glyphicon {
        font-size: 24px;
        color: grey;
        padding: 0;
        margin: 0; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-body .module-heading {
      margin-bottom: 10px;
      color: #337ab7; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-body .module-category {
      font-style: italic;
      font-size: 12px; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-body .module-author {
      font-style: italic;
      font-size: 12px; }
    html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-right .buttons-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-right .buttons-container .btn-group {
        margin-right: 5px;
        display: table-cell;
        vertical-align: middle; }
        html body #page-container #content-section #content-container #content-row #center-column .panel.form-panel .module-panel .media .media-right .buttons-container .btn-group ul.dropdown-menu {
          right: 0;
          left: unset; }
  html body #page-container #content-section #content-container #content-row #center-column #alerts .alert {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    html body #page-container #content-section #content-container #content-row #center-column #alerts .alert .glyphicon {
      font-size: 24px;
      flex: 1;
      order: 1; }
    html body #page-container #content-section #content-container #content-row #center-column #alerts .alert .alert-content {
      flex: 28;
      order: 2; }
      html body #page-container #content-section #content-container #content-row #center-column #alerts .alert .alert-content .alert-timestamp {
        margin-bottom: 5px;
        font-size: 10px;
        font-style: italic; }
      html body #page-container #content-section #content-container #content-row #center-column #alerts .alert .alert-content .alert-header {
        margin-bottom: 10px;
        margin-top: 0; }
      html body #page-container #content-section #content-container #content-row #center-column #alerts .alert .alert-content .alert-body {
        margin-bottom: 8px; }
    html body #page-container #content-section #content-container #content-row #center-column #alerts .alert button.close {
      flex: 1;
      order: 3; }
  html body #page-container #footer-section {
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    height: 50px;
    bottom: 0;
    width: 100%; }
    html body #page-container #footer-section #footer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px; }
      html body #page-container #footer-section #footer p.footer-info {
        text-align: center;
        color: #777777;
        margin: 0; }
